<div class="main-content">
 <div class="cards-container">
  <mat-card class="overview-card">
    <div class="card-content">
      <div>
        <h4>CURRENT SAVINGS</h4>
        <h2>12,000 TND</h2>
        <p class="change up">↑ 12% Since last month</p>
      </div>
      <div class="icon-circle purple">
        <mat-icon class="card-icon" style="color: white;">attach_money</mat-icon>
      </div>
    </div>
  </mat-card>
  
  <mat-card class="overview-card">
    <div class="card-content">
      <div>
        <h4>MONTHLY EXPENSES</h4>
        <h2>1,000 TND</h2>
        <p class="change down">↓ 16% Since last month</p>
      </div>
      <div class="icon-circle teal">
        <mat-icon class="card-icon" style="color: white;">group</mat-icon>
      </div>
    </div>
  </mat-card>
  
  <mat-card class="overview-card">
    <div class="card-content">
      <div>
        <h4>BUDGET USED</h4>
        <h2>75.5%</h2>
        <mat-progress-bar mode="determinate" value="75.5"></mat-progress-bar>
        <p class="change up" style="margin-top: 8px;">On track</p>
      </div>
      <div class="icon-circle orange">
        <mat-icon class="card-icon" style="color: white;">list</mat-icon>
      </div>
    </div>
  </mat-card>
</div>
   <div class="container">
  <div class="row">
    <!-- Bar Chart -->
    <div class="col-md-6">
      <div class="chart-card">
        <h5 class="chart-title">BAR CHART</h5>
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [type]="'bar'">
        </canvas>
      </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-md-6">
      <div class="chart-card">
        <h5 class="chart-title">PIE CHART</h5>
        <canvas baseChart
                [datasets]="pieChartData"
                [labels]="pieChartLabels"
                [options]="pieChartOptions"
                [type]="'pie'">
        </canvas>
      </div>
    </div>
  </div>
<app-latest-orders [orders]="orders"></app-latest-orders>
</div>

  </div>
